html {
  color: rgb(236, 15, 15);
  background-image: url("./components/forms/RainbowPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.h2 {
  margin: 0 auto;
}
